# EditorConfig helps maintain consistent coding styles for multiple developers
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space

# Node.js, JS, TS, JSON, YAML
[*.{js,ts,json,yml,yaml,md}]
indent_size = 2

# Python
[*.py]
indent_size = 4

# C++
[*.{cpp,h,hpp}]
indent_size = 4